.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  width: 100%;
  height: 120px;
  border-bottom: var(--separation--border-layout);
  background: var(--1st-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-frame {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.search-result {
  width: 55vw;
  max-width: 1566px;
  min-width: 400px;
  transform: translateY(-6px);
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin: 0 30px;
  background: var(--2nd-background-color);
  border: var(--2nd--border-element);
  border-radius: var(--2nd--border-radius);
}

.search-input {
  width: 100%;
  padding: 0 15px;
  font-size: 2rem;
  color: var(--1st--text-color);
}

input {
  caret-color: var(--main--button-color);
}

.icon-bg {
  width: 30px;
  height: 30px;
  background: var(--main--button-color);
  margin-right: 15px;
  border: var(--2nd--border-element);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--2nd--element-bg);
}

.podcast-list {
  width: 100%;
  height: 100%;
}
