.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
}

.footer {
  height: 100px;
  background: var(--1st--background-linear);
  border-top: var(--separation--border-layout);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  flex: 1;
  display: flex;
  background: #0a0f1b;
}

.sidebar {
  flex: 0 0 303px;
  border-right: var(--separation--border-layout);
}

.content {
  flex: 1;
  max-width: 1617px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  position: relative;
}

.catalogues {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 430px) {
  .header {
    height: 80px;
  }
}
