.wrapper {
  width: 608px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (max-width: 638px) {
  .wrapper {
    width: 385px;
  }
}
